:root {
  --color-primary: #002366;
  --color-secondary: #ac89db;
  --color-therceary: #013dac;
}

.app-menu div.srcollbar {
  border-top-width: 0px;
}

.form-select:focus,
.form-input:focus,
.form-textarea:focus {
  background-color: rgba(172, 137, 219, 0.2);
  border-color: #ac89db;
}

.h-2 {
  height: 2%;
}

.grow-2px {
  flex-grow: 2px;
}

.w-50 {
  width: 50%;
}

.inBlock {
  display: inline-block;
}

.btn:hover {
  background: color-mix(in srgb, #002366 85%, white 15%);
  outline: #ac89db 1.7px solid;
  color: #ac89db;
  transition: all 0.3s ease;
  cursor: pointer;
}

.w-search {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 100%;
}


.search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  color: white;
  border-radius: 20px;
  margin: 0;
}

.search-filter {
  position: absolute;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 1;
  width: 31%;
}

.bg-viotard {
  color: white;
  width: 100%;
  border-radius: 20px;
  margin: 0;
  height: 100%;
}
.bg-viotard:hover {
  color: white;
  outline: #002366 1.7px solid;
}

.left-btn {
  background: red;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.right-btn {
  background: green;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ser::after {
  background: inherit;
  position: absolute;
  content: "";
  filter: blur(25px) saturate(1.5);
  width: 100%;
  height: 100%;
  scale: 1.05;
  z-index: -1;
}

.w19{
  width: 20%;
}
.w80 {
  width: 80%;
  left: 19%;
}
.max-list {
  max-width: 1000px;
}

svg {
  width: 18px;
  height: 18px;
}
svg.list-accion path {
  fill: #ac89db;
}

html[data-sidenav-view="sm"] table {
  max-width: 1250px;
  width: 100%;
  max-height: 300px;
}
html[data-sidenav-view="sm"] .max-list {
  max-width: 1300px;
  max-height: auto;
}

table,
tbody,
thead {
  max-width: 100%;
  max-height: 350px;
}

.btn-p-8 {
  padding: 8px;
}

tbody {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
}

thead {
  max-width: 100%;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.grid-center {
  grid-column: 2/3;
}

.titulo-datos {
  margin-top: 4px;
  background-color: white;
  text-align: center;
  color: white;
  padding: 4px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  border: 1px solid black;
}
.titulo-datos h2,
.titulo-datos form {
  flex-grow: 1;
  min-height: 100%;
  color: black;
  border-radius: 0;
  transition: all 0.5s ease;
}
.titulo-datos h2.select,
.titulo-datos form.select {
  background-color: #013dac;
  color: white;
}
.titulo-datos h2:hover,
.titulo-datos form:hover {
  gap: 5px;
  color: white;
  background-color: #013dac;
}

.complete {
  width: 50%;
}

.men-table {
  border-left: 5px solid rgba(1, 61, 172, 0.3333333333);
  padding-left: 5px;
}

.btn-afiliado {
  border: 1px solid black;
  margin: 0 5px 4px 0;
}

.data {
  border: 1px solid #ac89db;
  border-top: 0px;
  border-radius: 0 0 20px 20px;
}

.b-top {
  border-top: 1px solid;
}

.borderDark {
  border: 1px solid black;
}

.bd-secondary {
  border-color: rgb(from \$--color-secondaryrgb/50%);
}

.main-scroll {
  height: 80vh;
  overflow-y: scroll;
}

.rounded {
  border-radius: 20px;
}

.pl-5 {
  padding-left: 1.5rem;
}

.negate-access {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.app-menu {
  min-width: 0;
}
.autocomplete-container {
  position: relative; /* Necesario para el dropdown absoluto */
}

.dropdown-options {
  display: none;
  position: absolute; /* Superpone en lugar de desplazar */
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background: white;
  z-index: 1000; /* Asegura que esté encima de otros elementos */
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.h-100 {
  height: 100%;
}

.font-strong {
  font-size: 1rem;
  font-weight: 600;
}

.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.out-b {
  border-bottom: 1px solid black;
}
.product-list {
  width: 78%;
  margin-left: 20%;
  transition: all 0.3s ease-out;
}
html[data-sidenav-view="sm"] .product-list {
  width: 90%;
  margin-left: 8%;
}

.col-lg {
  flex: 0 0 100%;
  max-width: 100%;
}

.rowUser {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

/* .lbl-nombre{
  position: absolute;
  top: 28px;
  left: 12px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.form-group:has(#nombre:focus) .lbl-nombre,
.form-group:has(.input-active) .lbl-nombre{
  color: #0066cc;
  background-color: white;
  padding: 0 5px;
  transform: translateY(-25px) scale(0.9);
  font-weight: bold;
}

.form-group {
  position: relative;
  padding-top: 15px;
}

.form-control {
  padding: 10px;
  border: 1px solid #ddd;
} */

.form-user {
  padding: 1.5em;
}
.userChange {
  cursor: pointer;
}

.flex-column {
  flex-direction: column;
}
.aling-end {
  align-items: flex-end;
}

#img-container {
  max-width: 45%;
  margin: 0 auto;
}

.hover-text-white:hover {
  color: white;
}
.card-header-primary {
  background: linear-gradient(60deg, #013dac, #002366, #013dac);
  color: white;
}
.title-2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.border-secondary-color {
  border-color: var(--color-secondary);
}
.border-b-0 {
  border-bottom-width: 0;
}
:is([data-mode="dark"] .text-primary) {
  color: #adc7ff;
}
:is([data-mode="dark"] option) {
  background: #111827; /* Fondo blanco */
  color: rgb(156 163 175); /* Texto oscuro */
  padding: 8px;
}
.border-color-primary {
  border-color: var(--color-primary);
}
.border-color-secondary {
  border-color: var(--color-secondary);
}
.border-color-therceary {
  border-color: #5a9cff;
}
.border-l-4 {
  border-left-width: 2px;
}
.border-b-2 {
  border-bottom-width: 2px;
}

@import "tailwindcss";


.AuthTitle{
  color: #111;
  margin-bottom: 5px;
}

.AuthContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.AuthContainerForm {
  width: 30%;
}

.AuthForm {
  background: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 15px;
  width: 100%;
  min-height: fit-content;
  gap: 8px;
  border-radius: 20px;
  position: relative;
}

.AuthForm > div{
  width: 100%; height: 100%;
  position: relative;
  margin-bottom: 4px;
}

.AuthForm > div > label {
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(19px, 17px);
  transform-origin: left center;
  transition: transform 250ms linear, scale 250ms ease-out, transform-origin 250ms;
}



.AuthForm > div > input,
.AuthForm > button {
  font-size: 17px;
  border-radius: 20px;
}

.AuthForm > div > input {
  width: 100%;
  padding: 14px 16px;
  background-color: transparent;
}

.AuthForm > div > input:is(:focus) {
  outline-color: var(--Color_gradient2-light);
}

.AuthForm > div > input:focus + label,
.AuthForm > div > input:valid + label,
.AuthForm > div > input#email:not(:placeholder-shown) + label{
  transform:translate(15px,-14px);
  scale: 0.8;
  background-color: white;
  font-size: 20px;color: var(--Color_gradient2-light);
}

.AuthForm > div > input#email:focus + label{
  color: var(--Color_gradient2-light);
}


.AuthForm > button {
  cursor: pointer;

  width: 90%;
  background: linear-gradient(
          90deg,
          rgba(24, 114, 215, 1) 32%,

          var(--Color_gradient1) 53%
  );
  padding: 5px;
  color: var(--PrinColor1);
}

.AuthQuestion > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.AuthQuestion {
  margin-top: 10px;
}
.AuthQuestion > div > a{
  color: #0711c4;
  cursor: pointer;
}
.AuthQuestion > div > p{
  color: #111;
}
.AuthQuestion > div > a:visited{
  color: rgb(98, 0, 255);
  cursor: pointer;
}
